.our-technology {
  padding: 20px;
  font-family: Arial, sans-serif;
}

.section-title {
  font-size: 36px;
  font-weight: bold;
  text-align: left;
  margin-bottom: 40px;
}

.section {
  margin-bottom: 60px;
}

.subsection img {
  max-width: 85%;
  height: auto;
  margin-left: 100px;
}

.subsection-text {
  font-size: 18px;
  line-height: 1.6;
}

.small-image {
  width: 500px; /* Adjust the width as needed */
  height: auto; /* This will maintain the aspect ratio */
  display: block;
  margin: 0 auto;
}

hr.faint-divider {
  border: none;
  border-top: 1px solid #ddd;
  margin: 40px 0;
}